<div class="container">
  <h1 class="display-4 navigation" >{{title}}</h1>
		<p class=" navigation">Disfruta de las publicaciones de tus amigos!!!</p>
		<hr class="my-4">

  <div class="row justify-content-center navigation" *ngIf="!(_userService.islogin | async)">
    <!-- <div class="col-lg-3">
      <a [routerLink]="['/register-user']">
        <div class="card text-white bg-warning mb-3">
          <div class="card-header">
            <h4>
              <span class="fas fa-user-plus"></span> Regístrarse
            </h4>
          </div>
          <div class="card-body">
            <p class="card-text">Rellena tus datos para formar parte de una gran comunidad</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3">
      <a [routerLink]="['/login']">
        <div class="card text-white bg-success mb-3">
          <div class="card-header">
            <h4>
              <span class="fas fa-sign-in-alt"></span> Iniciar sesión
            </h4>
          </div>
          <div class="card-body">
            <p class="card-text">Entra con tu email y contraseña</p>
          </div>
        </div>
      </a>
    </div> -->

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Register User</h2>
          <p>Registrate en la red social llenando un formulario</p>
          <a class="btn btn-outline-light" [routerLink]="['/register-user']" >Register user </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Login </h2>
          <p>Inicia Sesion para compartir momentos con tus amigos</p>
          <a class="btn btn-outline-secondary" [routerLink]="['/login']">Login </a>
        </div>
      </div>
    </div>
  </div>

</div>
