<div class="container" >
  <h1 class="display-4 navigation" >{{title}}</h1>
  <p class=" navigation">Manten tu información actualizada</p>
  <hr class="my-4">

  <form  #userEditForm="ngForm"  (ngSubmit)="editUser()" class="col-lg-10">

    <p>
      <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="user._id"
        class="form-control" required disabled="disabled" />

        <label class="navigation">Nombre:</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name"
        class="form-control" required />

    </p>

    <p>
        <label class="navigation">Apellidos:</label>
        <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname"
        class="form-control" required />
        <span *ngIf="!surname.valid && surname.touched">
            Los Apellidos son obligatorio.!
        </span>
    </p>

    <p>
        <label class="navigation">Apodo:</label>
        <input type="text"   disabled="disabled" name="nick" #nick="ngModel" [(ngModel)]="user.nick"
        class="form-control" required />

    </p>

    <p>
        <label class="navigation">Correo electrónico:</label>
        <input type="email"  disabled="disabled" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #email="ngModel" [(ngModel)]="user.email"
        class="form-control" required />

    </p>


    <br>

    <input type="submit" value="ACTUALIZAR" class="btn btn-lg btn-success"/>



</form>
</div>
