<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

<div class="navigation">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand cabecera" href="#"><h2>{{title}}</h2> </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="(_userService.islogin | async) as usuario" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">{{usuario.name}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="" (click)="logout()">Cerrar Session</a>
          </li>
        </ul>

        <ul class="d-flex" *ngIf="!(_userService.islogin | async)">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/register-user">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
