/* You can add global styles to this file, and also import other style files */
.navigation{
  padding: 0px !important;
  font-family: 'Oswald' !important;
}
.navigation .navbar{
  border-radius: 0px !important;
  border: none;
}


.nav-link{
  color: #ffffff !important;

}

.punto{
  cursor: pointer ;
}


.imgPerfil{
  width: 35px;
  height:35px;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 9px;
  margin-right: 2px;

}
.imgPerfil img{
  height: auto;
  width: 45px;
}
